# P7

In [14]:
import numpy as np

employee_dtype = np.dtype([
    ('Emp_ID', 'i4'),
    ('Last_Name', 'U20'),
    ('First_Name', 'U20'),
    ('Gender', 'U1'),
    ('Title', 'U25')
])

employee_table = np.empty(10, dtype=employee_dtype)

employee_table['Emp_ID'] = [1000, 1001, 1002,
                            1003, 1005, 1006, 1010, 1011, 1012, 1013]
employee_table['Last_Name'] = ['Torabati', 'Kleinn', 'Ginsburg',
                               'Cox', 'Ziada', 'Keyser', 'Smith', 'Nelson', 'Sachsen', 'Shannon']
employee_table['First_Name'] = ['Yoalanda', 'Joel', 'Laura',
                                'Jennifer', 'Mauri', 'Cara', 'Roxie', 'Robert', 'Lars', 'Don']
employee_table['Gender'] = ['F', 'M', 'F', 'F', 'M', 'F', 'M', 'M', 'M', 'M']
employee_table['Title'] = ['Programmer', 'Programmer', 'President', 'Programmer', 'Product Designer',
                           'Account Executive', 'Programmer', 'Programmer', 'Support Technician', 'Product Designer']

# Print the Employee table
print(employee_table)

[(1000, 'Torabati', 'Yoalanda', 'F', 'Programmer')
 (1001, 'Kleinn', 'Joel', 'M', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1005, 'Ziada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Nelson', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

1. How many Male employees are in a company?

In [3]:
male_employees = employee_table[employee_table['Gender'] == 'M']

num_male_employees = len(male_employees)
print("Number of Male Employees:", num_male_employees)

Number of Male Employees: 6

2. Display the details of employees whose Last_Name starts with S.

In [4]:
import re

employees_with_s_last_name = []

pattern = re.compile("^S")

for employee in employee_table:
    if pattern.search(employee['Last_Name']):
        employees_with_s_last_name.append(employee)

employees_with_s_last_name = np.array(
    employees_with_s_last_name, dtype=employee_dtype)

print("Details of employees whose Last_Name starts with 'S':")
for employee in employees_with_s_last_name:
    print("Emp_ID:", employee['Emp_ID'])
    print("First Name:", employee['First_Name'])
    print("Last Name:", employee['Last_Name'])
    print("Gender:", employee['Gender'])
    print("Title:", employee['Title'])
    print("\n")

Details of employees whose Last_Name starts with 'S':
Emp_ID: 1010
First Name: Roxie
Last Name: Smith
Gender: M
Title: Programmer


Emp_ID: 1012
First Name: Lars
Last Name: Sachsen
Gender: M
Title: Support Technician


Emp_ID: 1013
First Name: Don
Last Name: Shannon
Gender: M
Title: Product Designer

3. Sort the Female Employee details in descending order based on First_Name.

In [5]:
female_employees = employee_table[employee_table['Gender'] == 'F']
print(female_employees)

sorted_indices = np.argsort(female_employees['First_Name'])[::-1]
sorted_female_employees = female_employees[sorted_indices]

print("Female Employee details in descending order based on First_Name:")
for employee in sorted_female_employees:
    print("Emp_ID:", employee['Emp_ID'])
    print("First Name:", employee['First_Name'])
    print("Last Name:", employee['Last_Name'])
    print("Gender:", employee['Gender'])
    print("Title:", employee['Title'])
    print()

[(1000, 'Torabati', 'Yoalanda', 'F', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')]
Female Employee details in descending order based on First_Name:
Emp_ID: 1000
First Name: Yoalanda
Last Name: Torabati
Gender: F
Title: Programmer

Emp_ID: 1002
First Name: Laura
Last Name: Ginsburg
Gender: F
Title: President

Emp_ID: 1003
First Name: Jennifer
Last Name: Cox
Gender: F
Title: Programmer

Emp_ID: 1006
First Name: Cara
Last Name: Keyser
Gender: F
Title: Account Executive

4. Extract 1D array and reshape it into 2D array.

In [6]:
First_Name_1d = employee_table['First_Name']
print(First_Name_1d)

First_Name_2d = First_Name_1d.reshape(-1, 2)

print("2D Array for First_Name:")
print(First_Name_2d)

['Yoalanda' 'Joel' 'Laura' 'Jennifer' 'Mauri' 'Cara' 'Roxie' 'Robert'
 'Lars' 'Don']
2D Array for First_Name:
[['Yoalanda' 'Joel']
 ['Laura' 'Jennifer']
 ['Mauri' 'Cara']
 ['Roxie' 'Robert']
 ['Lars' 'Don']]

5. Extract the below matrix using Boolean and Fancy indexing.

In [10]:
indices_to_extract = [2, 3, 4, 5, 6, 7, 8]

columns_to_extract = ["Emp_ID", "Last_Name", "Title"]

selected_data = employee_table[indices_to_extract][columns_to_extract]

print(selected_data.reshape(7,1))

[[(1002, 'Ginsburg', 'President')]
 [(1003, 'Cox', 'Programmer')]
 [(1005, 'Ziada', 'Product Designer')]
 [(1006, 'Keyser', 'Account Executive')]
 [(1010, 'Smith', 'Programmer')]
 [(1011, 'Nelson', 'Programmer')]
 [(1012, 'Sachsen', 'Support Technician')]]